<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--with SpringSpiExtensionTest add-->
    <bean id="extensionLoader" class="com.scy.spi.springspi.extension.ExtensionLoader"/>

    <bean id="meat" class="com.scy.spi.food.Meat"></bean>
</beans>